@media only screen and (min-width : 1224px) {
.body {
    background-color:#dcdcdc;
}
.fixed_text {
    font-family: "PT Sans";
    margin: 10px;
    color: #1c222a;
}
   
.kekw {
    color: black;
    text-decoration: none;
    margin: 10px;
}
.a {
    text-decoration: none;
}
.midle_img {
    position: relative;
    left: 10px;
    top: 10px;
    width: 97%;
    height: 250px;
    /*background-color: black;*/
}
.all_img1 {
    background-color: #333333;
    padding: 0 10px 0 10px;
    position: absolute;
    left: 10%;
    top: 0;
    width: 74%;
    box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
}
.all_img2 {
    background-color: #333333;
    padding: 0 10px 0 10px;
    position: absolute;
    width: 60%;
    top: -400px;
    left: 150%;
    box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
}
.all_img3 {
    background-color: #333333;
    padding: 0 10px 0 10px;
    position: absolute;
    top: -100px;
    left: 150%;
    width: 60%;
    box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
}
.kekw:visited {
    text-decoration: none;
    color: black;
}
.static_photo {
    position: absolute;
    top: 10%;
    /*background-color: #2C8CF4;*/
    margin: 10px;
    height: 670px;
    width: 50%;
}
.top_img {
    padding: 0 10px 0 10px;
    background-color: #333333;
    width: 50%;
    box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
}
.img2 {
    z-index: 3;
    position: absolute;
    left: 45%;
    top: 13%;
}
.img3 {
    position: absolute;
    left: 15%;
    top: 3%;
    z-index: 2;
}
.img4 {
    position: absolute;
    left: 5%;
    top: 250px;
    z-index: 1;
}
.alex1 {
    position: relative;
    display: flex;
    right: 200px;
    align-items: center;
    justify-content: center;
    /*background-color: #6a655d;*/
    flex-direction: column;
    height: 670px;
}
.some {
    position: relative;
    top: 365px;
    left: 45%;
    width: 10%;
    display: flex;
    /*background-color: white;*/
    height: 25px;
    font-family: "PT Sans";
    font-size: 1.5rem;
    margin-top: 100px;
    justify-content: center;
}
.alex {
    position: relative;
    letter-spacing:5px;
    left: 40%;
    font-family: "PT Sans";
    /*background-color: #0e2a47;*/
    color: #1c222a;
    font-size: 3rem;
}
.img_midle {
    position: absolute;
    top: 1500px;
    width: 285px;
    left: 200px;
    background-color: #333333;
    padding: 0 10px 0 10px;
}
.about {
    font-family: "PT Sans";
    /*background-color: #2C8CF4;*/
    font-size: 1.5rem;
    color: #1c222a;
    display: flex;
    width: 45%;
    margin-top: 38px;
    align-items: center;
    justify-content: center;
}
.red1 {
    position: absolute;
    top: 1700px;
    left: 21%;
    margin: 15px;
}
.creative {
    position: relative;
    letter-spacing:5px;
    left: 40%;
    color: #1c222a;
    /*background-color: #0e2a47;*/
    font-size: 2rem;
    font-family: "Gardens";
}
.text_div {
    position: relative;
    left: 3%;
    /*z-index: 10;*/
    /*background-color: #2C8CF4;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    height: 640px;
    width: 45%;
}
.photo_vis {
    top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    /*background-color: white;*/
    left: 55%;
    width: 45%;
    height: 650px;
}
.ex_1{
    font-family: "PT Sans";
    margin: 5px;
    font-size: 2rem;
    color: #1c222a;
}
.ex_2 {
    font-weight:bold;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #1c222a;
}
.ex_3 {
    margin: 5px;
    font-size: 1rem;
    color: #1c222a;
}
.place1 {
    flex-grow:2;
}
.place2 {
    flex-grow: 0.5;
}
.place3 {
    flex-grow: 1;
}
.place4 {
    flex-grow: 1;
}
.place5 {
    flex-grow: 1;
}
.place6 {
    flex-grow: 2;
}
.place_id {
    box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.81);
    margin: 0 20px 10px 0;
    padding: 10px;
    width: 200px;
    height: 150px;
    /*background-color: black;*/
}
.text_div1 {
    /*background-color: #333333;*/
    font-family: "PT Sans";
    color: #1c222a;
    width: 90%;
    font-size: 1.2rem;
}
.text_sign {
    z-index: 1;
    font-size: 1.5rem;
    color: #1c222a;
    font-family: "PT Sans";
    margin: 10px;
}
.text_unsign {
    z-index: 1;
    font-size: 1rem;
    color: #1c222a;
    /*background-color: #333333;*/
    padding: 10px;
    box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.81);
}
.fixed_top {
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 35px;
    position: fixed;
    left: 0 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    filter: blur(0.1rem) opacity(50%);
}
.fixed_top2 {
    bottom: -20px;
    z-index: 2;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}
.header1 {
    display: flex;
    align-content: space-between;
    justify-content: center;
    background-color: antiquewhite;
    width: 100%;
    height: 5%;
    box-shadow: 0px 9px 3px 0px rgba(0,0,0,0.47);
}
.header_item {
    margin: 10px;
    text-decoration: none;
    font-size: 15pt;
}
.header_item:visited {
    color: black;
    text-decoration: none;
}
.header_item:hover {
    text-decoration: black;
    transition: 0.5s;
}
.img1 {
    background-color: #333333;
    padding: 0 10px 0 10px;
    width: 100%;

}
.box_general {
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height: 600px;
    /*background-color: aquamarine;*/
    flex-direction: column;
}
.box1 {
    border-bottom: none;
    max-height: 230px;
    /*overflow: auto;*/
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    align-self: center;
    flex: auto;
    /*background-color: cadetblue;*/
    width: 300px;
}
.text_gallery {
    font-family: "PT Sans";
    font-size: 1rem;
    margin: 5px;
    color: #1c222a;
}
.box1:hover {
    transition: 1s;
    width: 400px;
}
.box1:not(:hover) {
    transition: 1s;
}
.general_div {
    flex-wrap: wrap;
    transition: 1s;
    /*background-color: brown;*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height: 700px;
    margin-bottom: 75px;
}
}
@media only screen and (min-width : 800px) and (min-height: 480px) and (max-width: 1223px){
    .body {
        background-color:#dcdcdc;
    }
    .fixed_text {
        font-family: "PT Sans";
        margin: 10px;
        color: #1c222a;
    }
    .kekw {
        color: black;
        text-decoration: none;
        margin: 10px;
    }
    .a {
        text-decoration: none;
    }
    .midle_img {
        position: relative;
        left: 10px;
        top: 10px;
        width: 97%;
        height: 100px;
        /*background-color: black;*/
    }
    .all_img1 {
        opacity: 0%;
        background-color: #333333;
        padding: 0 10px 0 10px;
        position: absolute;
        left: 10%;
        top: 0;
        width: 74%;
        box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
    }
    .all_img2 {
        background-color: #333333;
        padding: 0 10px 0 10px;
        position: absolute;
        width: 60%;
        top: -320px;
        left: 150%;
        box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
    }
    .all_img3 {
        background-color: #333333;
        padding: 0 10px 0 10px;
        position: absolute;
        top: -150px;
        left: 150%;
        width: 60%;
        box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
    }
    .kekw:visited {
        text-decoration: none;
        color: black;
    }
    .static_photo {
        position: absolute;
        top: 20%;
        /*background-color: #2C8CF4;*/
        margin: 10px;
        height: 55%;
        width: 45%;
    }
    .top_img {
        top: 10%;
        padding: 0 10px 0 10px;
        background-color: #333333;
        width: 50%;
        box-shadow:1px 3px 6px -1px rgba(0,0,0,0.81);
    }
    .img2 {
        z-index: 3;
        position: absolute;
        left: 55%;
        top: 20%;
    }
    .img3 {
        position: absolute;
        left: 15%;
        top: 10%;
        z-index: 2;
    }
    .img4 {
        position: absolute;
        left: 5%;
        top: 150px;
        z-index: 1;
    }
    .alex1 {
        position: relative;
        display: flex;
        right: 29%;
        align-items: center;
        justify-content: center;
        /*background-color: #6a655d;*/
        flex-direction: column;
        height: 600px;
    }
    .some {
        position: relative;
        top: 365px;
        left: 50%;
        width: 10%;
        display: flex;
        /*background-color: white;*/
        height: 25px;
        font-family: "PT Sans";
        font-size: 1rem;
        margin-top: 100px;
        justify-content: center;
    }
    .alex {
        top: -10%;
        position: relative;
        letter-spacing:5px;
        left: 55%;
        font-family: "PT Sans";
        /*background-color: #0e2a47;*/
        color: #1c222a;
        font-size: 1.5rem;
    }
    .img_midle {
        position: absolute;
        top: 1215px;
        width: 25%;
        left: 10%;
        background-color: #333333;
        padding: 0 10px 0 10px;
    }
    .about {
        font-family: "PT Sans";
        /*background-color: #2C8CF4;*/
        font-size: 1.5rem;
        color: #1c222a;
        display: flex;
        width: 45%;
        margin-top: 38px;
        align-items: center;
        justify-content: center;
    }
    .red1 {
        font-size: 1rem;
        position: absolute;
        top: 1390px;
        left: 21%;
        margin: 15px;
    }
    .creative {
        top: -10%;
        position: relative;
        letter-spacing:5px;
        left: 55%;
        color: #1c222a;
        /*background-color: #0e2a47;*/
        font-size: 1rem;
        font-family: "Gardens";
    }
    .text_div {
        position: relative;
        left: 3%;
        /*z-index: 10;*/
        /*background-color: #2C8CF4;*/
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        height: 340px;
        width: 45%;
    }
    .photo_vis {
        top: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        /*background-color: white;*/
        left: 55%;
        width: 45%;
        height: 450px;
    }
    .ex_1{
        font-family: "PT Sans";
        margin: 5px;
        font-size: 1rem;
        color: #1c222a;
    }
    .ex_2 {
        font-weight:bold;
        margin-bottom: 10px;
        font-size: 0.7rem;
        color: #1c222a;
    }
    .ex_3 {
        margin: 5px;
        font-size: 0.5rem;
        color: #1c222a;
    }
    .place1 {
        flex-grow:2;
    }
    .place2 {
        flex-grow: 0.5;
    }
    .place3 {
        flex-grow: 1;
    }
    .place4 {
        flex-grow: 1;
    }
    .place5 {
        flex-grow: 1;
    }
    .place6 {
        flex-grow: 2;
    }
    .place_id {
        box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.81);
        margin: 0 20px 10px 0;
        padding: 10px;
        width: 30%;
        height: 15%;
        /*background-color: black;*/
    }
    .text_div1 {
        /*background-color: #333333;*/
        font-family: "PT Sans";
        color: #1c222a;
        width: 90%;
        font-size: 1.2rem;
    }
    .text_sign {
        z-index: 1;
        font-size: 1.5rem;
        color: #1c222a;
        font-family: "PT Sans";
        margin: 10px;
    }
    .text_unsign {
        z-index: 1;
        font-size: 0.6rem;
        color: #1c222a;
        /*background-color: #333333;*/
        padding: 10px;
        box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.81);
    }
    .fixed_top {
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 35px;
        position: fixed;
        left: 0 ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: white;
        filter: blur(0.1rem) opacity(50%);
    }
    .fixed_top2 {
        bottom: -20px;
        z-index: 2;
        width: 100%;
        height: 60px;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
        justify-content: center;
    }
    .header1 {
        display: flex;
        align-content: space-between;
        justify-content: center;
        background-color: antiquewhite;
        width: 100%;
        height: 5%;
        box-shadow: 0px 9px 3px 0px rgba(0,0,0,0.47);
    }
    .header_item {
        margin: 10px;
        text-decoration: none;
        font-size: 15pt;
    }
    .header_item:visited {
        color: black;
        text-decoration: none;
    }
    .header_item:hover {
        text-decoration: black;
        transition: 0.5s;
    }
    .img1 {
        background-color: #333333;
        padding: 0 10px 0 10px;
        width: 160%;

    }
    .box_general {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2%;
        margin-right: 2%;
        width: 39%;
        height: 500px;
        /*background-color: aquamarine;*/
        flex-direction: column;
    }
    .box1 {
        border-bottom: none;
        max-height: 230px;
        /*overflow: auto;*/
        padding: 20px;
        margin-right: 50px;
        margin-left: 50px;
        align-self: center;
        flex: auto;
        /*background-color: cadetblue;*/
        width: 30%;
    }
    .text_gallery {
        font-family: "PT Sans";
        font-size: 1rem;
        margin: 5px;
        color: #1c222a;
    }
    .box1:hover {
        transition: 1s;
        width: 50%;
    }
    .box1:not(:hover) {
        transition: 1s;
    }
    .general_div {
        flex-wrap: wrap;
        transition: 1s;
        /*background-color: brown;*/
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        width: 100%;
        height: 500px;
        margin-top: 100px;
        margin-bottom: 75px;
    }
}
